:root {
  color-scheme: light;
  /* Colours */
  --color-bg: light-dark(#c1c2d9, #222); /* page background /*

  /* Header */
  --color-head-bg: light-dark(#4f468c, #312f2f);

  /* Logotype */
  --color-logotype-bg: light-dark(#000, #181818);
  --color-text-logotype: light-dark(#fffae2, e0d3ff);
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: light-dark(#6784d4, #4d4d4d);
  /* Links */
  --color-link-bg: light-dark(#fffae2, #202020);
  --color-link-hover: #4f468c; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 37px;

  /* Headlines og rubrik */
  --font-h1-size: 48px;
  --font-sub1-size: 36px;
  --font-h2-size: 36px;
  --font-h3-size: 32px;
  --color-headline-bg: light-dark(#000, #202020);
  --color-headline-text-page: light-dark(#f5f5f5, #f5f5f5);

  /* Tekst */
  --color-text: light-dark(#000, #f5f5f5);
  --color-text-inverted: light-dark(#f5f5f5, #f5f5f5);

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 37px;

  /* Cards */
  --color-card-bg: light-dark(#f5f5f5, #4d4d4d);
  --color-cta-card-bg: light-dark(#4f468c, #202020);
  /* news-cards */
  --color-news-bg: light-dark(#f5f5f5, #4d4d4d);
  --color-news-bg-inverted: light-dark(#b088c1, #312f2f);
  --color-cta-newscard-bg: light-dark(#4f468c, #202020);
  --color-cta-newscard-bg-inverted: light-dark(#c1c2d9, #312f2f);

  /* Fonts */
  --font-family-sans: "Rubik", ui-sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 36px;
  --headline3-size: 32px;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: light-dark(#f5f5f5, #4d4d4d);
  --color-infobox-1-bg: light-dark(#a9a0df, #312f2f);
  --color-infobox-2-bg: light-dark(#d0caf2, #3f3d3d);
}

html.dark {
  color-scheme: dark;
}
