#webform {
  background-color: var(--form-background-color);
}

#form-section,
#form-summary {
  background-color: var(--info-background-color);
  padding: 0;
}
#form-summary h2 {
  line-height: 3rem;
  text-align: center;
  background-color: var(--headline-bg-color-inverted);
  color: var(--headline-color-inverted);
  padding-top: 5px;
}
#form-summary h3 {
  font-size: 0.8rem;
  line-height: 0.8rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#form-summary > *:not(:first-child) {
  margin: 0 clamp(1rem, 10%, 7rem);
}
#form-summary p {
  font-size: 0.8rem;
  line-height: 1.3;
  margin: 0 0 1.2rem 0;
  padding: 0;
}

/* CSS Starter er tilføjet */
/* Generelle styles */
html {
  font-family: arial;
}

input {
  border: 1px solid #ccc;
  padding: 0.5rlh;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #0001;
}

button {
  margin: 0.4rem 0;
  padding: 0.45rem 0.7rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: #111;
  background: #f5f5f5;
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: transform 160ms ease, box-shadow 160ms ease, background 160ms ease;
}

.error-message {
  color: darkred;
  margin: auto 0;
}

/* Form layout */
form {
  display: grid;
  gap: 1rlh;
  padding: 0.5rlh;

  .form-group {
    display: grid;
    padding: 1px;
    gap: 8px;
  }

  label:has(input) {
    display: flex;
    align-items: center;
    gap: 0.25rlh;
    justify-self: start;
  }
}

/* Pseudo-classes */
:focus-visible {
  /* virker til både knapper og input-felter, select, textarea, links mm. */
  outline: 2px solid slateblue;
  outline-offset: 1px;
}
/* Hover-styles */
button:hover {
  background: #4f468c;
}
/* Active-styles (imens man klikker) */
button:active {
  scale: 0.98;
}

/* Valideringsregler */
.form-group:has(:required) {
  label::after {
    content: " *";
    color: red;
  }
}

.form-group:has(:user-invalid) {
  input {
    outline: 3px solid #f005;
    border-color: darkred;
  }
  .error-message {
    display: block;
  }
}

.form-group:has(:user-valid) {
  input {
    outline: 3px solid green;
    border-color: green;
  }
}

.error-message {
  display: none;
}

fieldset {
  padding: 25px;
  border-radius: 20px;
  background-color: light-dark(#ffffffc7, #7777);
}

.check-box {
  display: grid;
  gap: 0.2rlh;
  padding: 6px;
}

.output div {
  background: light-dark(#ffffffc7, #7777);
  padding: 1rlh;
  border-radius: 6px;
  display: grid;
  gap: 0.5rlh;
}
